    body {
        background-image: url(./SL-030722-49030-02.jpg);
    }
    .divdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: aqua;
        border: 1px solid aqua;
        border-radius: 20px;
        height: 15vh;
    }
    .pp{
        font-family: "Bitcount Grid Double", system-ui;
        font-optical-sizing: auto;
        font-weight: 500;
        font-size: 70px;
        font-style: normal;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0.5,
            "ELSH" 0,
            "ELXP" 0;
    }
    .divdivdiv{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        height: 75vh;
    }
    .blocker{
        display: none;
    }
    #bb{
        font-size: 100px;
        background-color: #3EA8C1;
        border: 1px solid #3EA8C1;
        border-radius: 20px;
        font-family: "Bitcount Grid Double", system-ui;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0.5,
            "ELSH" 0,
            "ELXP" 0;
    }
    .grid-container{
        display: grid;
        height: 45vh;
        width: 30vw;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        border-radius: 20px;
        gap: 5px; 
        margin: 50px auto;
        width: max-content;
    }
    .cell {
        background-color: transparent; /* Keep it transparent */
        border: 3px solid #3EA8C1; /* Standard line color */
        cursor: pointer;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 9vw;
        height: 8vw;
    }
    .imgg{
        height: 300px;
        width: 300px
    }
    .img{
        height: 8vw;
        width: 11vw;
    }
    .inst{
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
        font-family: "Luckiest Guy", system-ui;
        font-optical-sizing: auto;
        font-weight: 150;
        font-size: 20px;
        font-style: normal;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0.5,
            "ELSH" 0,
            "ELXP" 0;

    }
    .glow-box {
        filter: drop-shadow(0 0 15px rgba(255, 0, 255, 0.8)); 
    }
    #hst{
        position:absolute;
        width: 33vw;
    }
    .reset{
        display: flex;
        align-items: center;
        justify-content: center
    }
    #resetbtn{
        font-size: 50px;
        background-color: #3EA8C1;
        border: 1px solid #3EA8C1;
        border-radius: 20px;
        font-family: "Bitcount Grid Double", system-ui;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-variation-settings:
            "slnt" 0,
            "CRSV" 0.5,
            "ELSH" 0,
            "ELXP" 0;
    }